@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

body {
  background-color: $darkgrey;
  font-family: $osl, "sans serif";
  overflow-y: scroll;
  font-size: 1em;
}

.row {
  max-width: 1300px;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 1.5em;
}

select {
  height: 28px;
}

header {
  background-color: $ft-primary;
  color: #fff;
  margin-bottom: 30px;
  padding: 15px 0;
  font-size: 24px;
  font-family: $osl;

  ul {
    list-style-type: none;
  }
}

.text-light {
  color: #AAA;
}

input[type="text"] {
  font-family: $osr;
}

.code {
  font-family: Consolas, monospace;
  background-color: #222;
  color: #fff;
  border: 1px solid black;
  width: 100%;
  padding: 10px;
  word-wrap: break-word;
  font-size: 12px;
  line-height: 16px;
  position: relative;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

h2 {
  margin-bottom: 0.5em;
}

h3 {
  margin-bottom: 0.3em;
}

p {
  margin-bottom: 0.5em;
}

table {
  width: 100%;
  border-collapse: collapse;

  input[type=text] {
    margin: 0;
  }
}

.panel {
  padding: 20px;
  background: #fff;
  box-shadow: 0px 3px 0px #EEE;
  margin: 10px 0;
  margin-bottom: 20px;
  position: relative;
}

  .panel.red {
    border-left: 4px solid $ft-primary;
  }

  .panel.blue {
    border-left: 4px solid $blue;
  }

  .panel.green {
    border-left: 4px solid $green;
  }

  .panel.yellow {
    border-left: 4px solid $yellow;
  }

.sub-panel {
  display: block;
  padding: 10px;
  background: #F9F9F9;
  border: 1px solid #F1F1F1;
  margin-bottom: 5px;
}

textarea {
  height: 4em;
}

.button {
  border: 0;
  border-bottom: 3px solid darken($ft-primary, 25%);

  &:hover {
    background: lighten($ft-primary, 5%);
  }
}

.hover-actions {
  display: none;
  list-style-type: none;

  li {
    float: right;
    margin-left: 10px;
    line-height: 0px;

    i {
      line-height: 10px;
    }
  }
}

.inline-link {
  color: $ft-primary;
  border-bottom: 1px solid $ft-primary;

  &:hover {
    color: darken($ft-primary, 30%);
    border-bottom: 1px solid darken($ft-primary, 30%);
  }
}

.tt-dropdown-menu {
  background: #fff;
  border: 1px solid #eee;
  padding: 10px;
  margin-top: -12px;

  .tt-suggestion {
    &:hover {
      color: $ft-primary;
    }
  }
}

[class^="icon-"], [class*=" icon-"] {
  opacity: 0.15;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.no-hover {
  opacity: 1;

  &:hover {
    cursor: auto;
  }
}

.settings {
  display: none;
}