@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $darkgrey;
  font-family: $osr, "sans serif";
}

.container {
  width: 80%;
  margin: 0 auto;
}

.column {
  width: 49%;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  background-color: $red;
  color: #fff;
  margin-bottom: 30px;
  padding: 15px 0;
  font-size: 24px;
  font-family: $osl;

  ul {
    list-style-type: none;
  }
}

.panel {
  clear: both;
  width: 100%;
  background-color: #ededed;
  padding: 10px;
  @include border-radius(3px);
  margin-bottom: 5px;
}

.text-light {
  color: #AAA;
}

.code {
  background-color: #222;
  color: #fff;
  border: 1px solid black;
  width: 100%;
  padding: 10px;
  word-wrap: break-word;
  font-size: 12px;
  line-height: 16px;
  position: relative;
}

.button {
  color: #fff;
  background-color: $red;
  @include border-radius(5px);
  padding: 10px;
  display: inline-block;

  &:hover {
    background-color: darken($red, 5%);
  }
}