@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $darkgrey;
  font-family: $osl, "sans serif";
  overflow-y: scroll;
  font-size: 1em;
}

.row {
  max-width: 1300px;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  background-color: $ft-primary;
  color: #fff;
  margin-bottom: 30px;
  padding: 15px 0;
  font-size: 24px;
  font-family: $osl;

  ul {
    list-style-type: none;
  }
}

.text-light {
  color: #AAA;
}

input[type="text"] {
  font-family: $osr;
}

.code {
  font-family: Consolas, monospace;
  background-color: #222;
  color: #fff;
  border: 1px solid black;
  width: 100%;
  padding: 10px;
  word-wrap: break-word;
  font-size: 12px;
  line-height: 16px;
  position: relative;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

h2 {
  margin-bottom: 0.5em;
}

table {
  width: 100%;
}

.panel {
  padding: 20px;
  background: #fff;
  box-shadow: 0px 3px 0px #EEE;
  margin: 10px 0;
  margin-bottom: 20px;
  position: relative;
}

  .panel.red {
    border-left: 4px solid $ft-primary;
  }

  .panel.blue {
    border-left: 4px solid $blue;
  }

  .panel.green {
    border-left: 4px solid $green;
  }

  .panel.yellow {
    border-left: 4px solid $yellow;
  }

.sub-panel {
  display: block;
  padding: 10px;
  background: #F9F9F9;
  border: 1px solid #F1F1F1;
  margin-bottom: 5px;
}

textarea {
  height: 4em;
}

.button {
  border: 0;
  border-bottom: 3px solid darken($ft-primary, 25%);

  &:hover {
    background: lighten($ft-primary, 5%);
  }
}