@import "variables";
@import "mixins";

@import "modules/fruit";
@import "modules/github";
@import "modules/api";

.module {

  margin-bottom: 20px;

  h2 {
    font-family: $osl;
    font-size: 14px;
    text-transform: uppercase;
  }

  .titlebar, .content {
    padding: 10px;
  }

  .titlebar {
    text-transform: uppercase;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: $darkblue;
    color: #fff;

    h1 {
      font-size: 12px;
    }

    ul {
      list-style-type: none;
    }

    li {
      float: left;
      margin-right: 10px;
      line-height: 24px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .content {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #fff;
    color: $darkgrey;
    font-size: 14px;
  }
}