@import "variables";
@import "mixins";

@import "modules/fruit";
@import "modules/github";
@import "modules/api";
@import "modules/inspiration";
@import "modules/todos";
@import "modules/scratchpad";

.module {

  margin-bottom: 20px;

  h2 {
    font-family: $osb;
    font-size: 1.2em;
    text-transform: uppercase;
    color: $medgrey;
  }

  h3 {
    font-family: $ossb;
    font-size: 1em;
    text-transform: uppercase;
    color: $medgrey;
  }

  .titlebar, .content {
    padding: 10px;
  }

  .titlebar {
    text-transform: uppercase;
    //border-top-left-radius: 5px;
    //border-top-right-radius: 5px;
    background: $darkblue;
    color: #fff;

    h1 {
      font-size: 12px;
      font-family: $ossb;
    }

    ul {
      list-style-type: none;
      margin-bottom: 0;
    }

    li {
      float: left;
      margin-right: 10px;
      line-height: 24px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .content {
    //border-bottom-left-radius: 5px;
    //border-bottom-right-radius: 5px;
    background: #f4f4f4;
    color: $darkgrey;
    font-size: 14px;

    .toggle {
      display: none;
    }

    .actions {
      background: #fff;
      box-shadow: 0px 3px 0px #EEE;
      margin: 10px 0;
      border-left: 4px solid $blue;
      padding: 10px 0;

      li {
        display: inline;
        padding: 8px 15px;
        cursor: pointer;

        &:hover {
          background: darken(#fff, 2%);
        }
      }
    }
  }
}