/* ----- COLORS ----- */

$darkblue: #1c242b;
$ft-primary: #ff7663;
$yellow: #fcff97;
$darkgrey: #424245;
$medgrey: #666;
$green: #7dcaa7;
$blue: #7fa3d6;

/* ----- FONTS ----- */

$osl: 'OpenSansLight';
$osr: 'OpenSansRegular';
$ossb: 'OpenSansSemibold';
$osb: 'OpenSansBold';
$oseb: 'OpenSansExtrabold';