<ul class="actions toggle">
  <li ng-click="showNew()"><i class="icon-plus"></i> Add new project</li>
</ul>

<div ng-repeat="project in data.overview.projects" class="panel red panel-hover">
  <div class="row project-header">
    <div class="small-9 columns">
      <h2 ng-click="showDetail(project)">{{project.name}}</h2>
    </div>
    <div class="small-3 columns">
      10-06-2013
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <h3>Todo:</h3>
      <ul class="tasks">
        <li ng-repeat="task in project.tasks.todo">
          {{task}} <i ng-click="markAsCurrent(project, task)" class="icon-download right"></i>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <h3>Current:</h3>
      <ul class="tasks">
        <li ng-repeat="task in project.tasks.current">
          {{task}} <i class="icon-check-sign right"></i>
        </li>
      </ul>
    </div>
  </div>
</div>