<div class="panel red">
  <h2>{{data.project.name}}: due on {{data.project.due_date | date:'dd MMMM, yyyy'}}</h2>

  <p>{{data.project.description}}</p>

  <div class="row">
    <div class="small-12 columns">
      <h3>Todo:</h3>
      <ul class="tasks">
        <li ng-repeat="task in data.project.tasks.todo">
          {{task}} <i ng-click="markAsCurrent(project, task)" class="icon-download right"></i>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <h3>Current:</h3>
      <ul class="tasks">
        <li ng-repeat="task in data.project.tasks.current">
          {{task}} <i ng-click="markAsDone(project, task)" class="icon-check-sign right"></i>
        </li>
      </ul>
    </div>
  </div>
</div>

<a ng-click="updateProject()" class="button" href="">Save project</a>
<a ng-click="removeProject()" class="button alert" href="">Remove project</a>

<div class="row">
  <div class="span6">
    <h3>Todo</h3>
    <pre>{{data.project.tasks.todo | json}}</pre>
  </div>
  <div class="span6">
    <h3>Current</h3>
    <pre>{{data.project.tasks.current | json}}</pre>
  </div>
  <div class="span6">
    <h3>Done</h3>
    <pre>{{data.project.tasks.done | json}}</pre>
  </div>
</div>