@import "../variables";

.api-link {
  color: $yellow;
  cursor: pointer;

  &:hover {
    color: lighten($yellow, 15%);
  }
}

#api-url {
  display: block;
  width: 100%;
}

.previous {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0.5;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}