@import "../variables";
@import "../mixins";

.github {

  table {
    td {
      padding: 10px;
    }
  }

  .avatar {

    padding-top: 10px;
    padding-bottom: 5px;

    img {
      border-radius: 500px;
      border: 4px solid $darkblue;
      width: 50px;
    }

    h2 {
      line-height: 50px;
      margin-left: 8px;
    }
  }

  .table-hover {
    tbody {
      tr:hover {
        border-left: 4px solid $blue;

        cursor: pointer;
      }
    }
  }

  .table-small {
    font-size: 12px;
  }

  .issues {

    h3 {
      font-family: $osb;
      text-transform: none;
      font-weight: normal;
      font-size: 14px;
    }

    p {
      color: $medgrey;
      font-size: 12px;
    }

    .icon-chevron-sign-right {
      line-height: 56px;
      //margin-right: 10px;
    }
  }
}