.inspiration {

  img {
    width: 25%;
  }

  .thumbnails {

    img {
      width: 48%;
      border: 1px solid #ddd;
      float: left;
    }

    img:nth-child(2n) {
      float: right;
    }
  }
}