@import "../variables";

.scratchpad {
  .code {
    height: 30em;
  }

  .link {
    color: $ft-primary;

    &:hover {
      color: darken($ft-primary, 30%);
    }
  }

  .content i {
    margin-left: 10px;
  }

  .editor-container {
    width: 100%;
    height: 500px;
    position: relative;
    margin-bottom: 10px;

    #editor {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}