.todos {

  ul {
    list-style-type: none;
  }

  .tasks {
    li {
      display: block;
      padding: 10px;
      background: #f9f9f9;
      border: 1px solid #f1f1f1;
      margin-bottom: 5px;
    }
  }

  .content {
    .inline-link {
      display: inline-block;
    }

    h3 {
      margin-top: 20px;
    }
  }
}