<ul class="actions toggle">
  <li ng-click="showCollection()"><i class="icon-eye-open"></i> Browse notes</li>
  <li ng-click="showNew()"><i class="icon-plus"></i> Add a new note</li>
</ul>

<div class="search row collapse">
  <div class="small-1 columns">
    <span class="prefix radius"><i class="icon-search"></i></span>
  </div>
  <div class="small-11 columns">
    <input type="text" ng-model="search"/>
  </div>
</div>

<div ng-switch="data.overview.snippets.length">
  <div ng-switch-when="0">
    <div class="panel red">
      <p>Your scratchpad is empty! <a ng-click="showNew()" class="inline-link" href="">Add</a> a new snippet.</p>
    </div>
  </div>
  <div ng-switch-default="">
    <div ng-repeat="snippet in data.overview.snippets | limitTo:5 | orderBy:'id' | filter:search" class="panel red">
      <div class="row">
        <div class="small-9 columns">
          <h2>{{snippet.name}}</h2>

          <p>{{snippet.description}}</p>
        </div>
        <div class="small-3 columns text-right">
          <br>
          <i ng-click="showSnippet(snippet)" class="icon-chevron-sign-right icon-2x"></i>
        </div>
      </div>

      <i ng-click="removeSnippet(snippet.id)" class="icon-remove right"></i>
      <i ng-click="showEdit(snippet)" class="icon-edit right"></i>



    </div>
  </div>
</div>

