<div class="row avatar">
  <div class="small-2 columns">
    <img ng-src="{{data.overview.user.avatar_url}}" alt="{{data.overview.user.name}}"/>
  </div>
  <div class="small-10 columns">
    <h2><a href="{{data.overview.user.html_url}}">{{data.overview.user.name}} <span class="text-light">({{data.overview.user.login}})</span></a></h2>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <h3>My repositories</h3>
    <div class="row">
      <div class="small-12 columns">
        <table>
          <thead>
          <tr>
            <td>Name</td>
            <td>Open issues</td>
          </tr>
          </thead>
          <tr ng-repeat="repo in data.overview.repos" ng-click="showRepo(repo.name)">
            <td>
              {{repo.name}}
            </td>
            <td>
              {{repo.open_issues}}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>