<div class="row">
  <div class="small-12 columns">
    <div class="panel red">
      <h2>{{data.repo.name}}</h2>
      <p>Last updated at {{data.repo.updated_at | date:'dd-mm-yyyy'}}</p>
      <p>Owner: <a class="inline-link" target="_blank" href="{{data.repo.owner.html_url}}">{{data.repo.owner.login}}</a></p>
    </div>

    <div ng-switch="data.repo.issues.length">
      <div ng-switch-when="0">

      </div>
      <div ng-switch-default="">
        <div class="panel red issues">
          <div>
            <h2>Issues ({{data.repo.issues.length}})</h2>
            <div class="search row collapse">
              <div class="small-1 columns">
                <span class="prefix radius"><i class="icon-search"></i></span>
              </div>
              <div class="small-11 columns">
                <input type="text" ng-model="search.issues"/>
              </div>
            </div>
            <div ng-repeat="issue in data.repo.issues | filter:search.issues" class="sub-panel">
              <div class="row">
                <div class="small-10 columns">
                  <h3>{{issue.title}}</h3>
                  <p>by <a target="_blank" class="inline-link" href="http://github.com/{{issue.user.login}}">{{issue.user.login}}</a> on {{issue.created_at | date:'dd-mm-yyyy'}}</p>
                </div>
                <div class="small-2 columns text-right">
                  <a target="_blank" href="{{data.repo.html_url}}/issues/{{issue.number}}"><i class="icon-chevron-sign-right icon-2x"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="panel red">
      <h2>Last 10 commits (Total: {{data.repo.commits.length}})</h2>
      <div class="search row collapse">
        <div class="small-1 columns">
          <span class="prefix radius"><i class="icon-search"></i></span>
        </div>
        <div class="small-11 columns">
          <input type="text" ng-model="search.commits"/>
        </div>
      </div>
      <table class="table-small">
        <thead>
        <tr>
          <th width="80">Date</th>
          <th>Message</th>
          <th>Author</th>
          <th>SHA hash</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="commit in data.repo.commits | limitTo:10 | filter:search.commits">
          <td>{{commit.commit.author.date | date:'dd-mm-yyyy'}}</td>
          <td>{{commit.commit.message}}</td>
          <td>{{commit.commit.author.name}}</td>
          <td><a target="_blank" class="inline-link" href="{{commit.html_url}}">{{commit.sha_short}}</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>