<div class="row">
  <div class="small-12 columns">
    <div class="panel red">
      <h2>{{data.repo.name}}</h2>
      <p>Last updated at {{data.repo.updated_at}}</p>
      <p>Owner: {{data.repo.owner.login}}</p>
    </div>

    <div class="panel red">
      <div class="sub-panel">
        <h3>Issues ({{data.repo.issues.length}})</h3>
        <div ng-repeat="issue in data.repo.issues" class="sub-panel">
          <h4>{{issue.title}} by {{issue.user.login}}</h4>
          <h5>{{issue.created_at | date:'dd-mm-yyyy'}}</h5>
          <p>{{issue.body}}</p>
        </div>
      </div>
    </div>

    <div class="panel red">
      <h3>Commits ({{data.repo.commits.length}})</h3>
      <table>
        <thead>
        <tr>
          <td>Date</td>
          <td>Message</td>
          <td>Author</td>
          <td>SHA hash</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="commit in data.repo.commits">
          <td>{{commit.commit.author.date | date:'dd-mm-yyyy'}}</td>
          <td>{{commit.commit.message}}</td>
          <td>{{commit.commit.author.name}}</td>
          <td>{{commit.sha}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>