<ul class="actions toggle">
  <li ng-click="showView('new')"><i class="icon-plus"></i> Add new set</li>
</ul>

<form name="form" action="" method="POST" enctype="multipart/form-data">
  <table cellpadding="0" cellspacing="0" class="tableForm">

    <thead>
    <tr>
      <th>Please select a file and click Upload button</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><input id="fileToUpload" type="file" size="45" name="fileToUpload" class="input"></td>			</tr>

    </tbody>
    <tfoot>
    <tr>
      <td><button class="button" id="buttonUpload" ng-click="uploadFile()">Upload</button></td>
    </tr>
    </tfoot>

  </table>
</form>

<div class="panel red" ng-click="showSet(set)" ng-repeat="set in data.overview.sets">
  <i ng-click="showSlider(set.id)" class="right icon-eye-open"></i>
  <i ng-click="showEdit(set)" class="right icon-edit"></i>

  <h2>{{set.name}}</h2>
  <p>{{set.description}}</p>

  <div id="slider-{{set.id}}" class="flexslider">
    <ul class="slides">
      <li ng-repeat="shot in set.shots">
        <img ng-src="{{shot.image}}" alt=""/>
      </li>
    </ul>
  </div>
  <div id="carousel-{{set.id}}" class="flexslider">
    <ul class="slides">
      <li ng-repeat="shot in set.shots">
        <img ng-src="{{shot.image}}" alt=""/>
      </li>
    </ul>
  </div>

  <script>
    $(window).load(function() {
      // The slider being synced must be initialized first

    });
  </script>

</div>