<div class="row">
  <div class="small-12 columns">
    <h3>New reminder</h3>

    <div class="row collapse">
      <div class="small-3 columns">
        <span class="prefix radius">Name</span>
      </div>
      <div class="small-9 columns">
        <input type="text" ng-model="data.new.name"/>
      </div>
    </div>
    <div class="row collapse">
      <div class="small-3 columns">
        <span class="prefix radius">Time</span>
      </div>
      <div class="small-9 columns">
        <input type="text" ng-model="data.new.datetime"/>
      </div>
    </div>
    <div class="row collapse">
      <div class="small-3 columns">
        <span class="prefix radius">Description</span>
      </div>
      <div class="small-9 columns">
        <input type="text" ng-model="data.new.type"/>
      </div>
    </div>
    <div class="row collapse">
      <div class="small-2 small-offset-10 columns">
        <a class="button" ng-click="saveReminder('new')" href="">Save</a>
      </div>
    </div>
  </div>

</div>
