<div class="panel red">
  <div class="row">
    <div class="small-12 columns">
      <h2>New reminder</h2>

      <div class="row collapse">
        <div class="small-3 columns">
          <span class="prefix radius">Name</span>
        </div>
        <div class="small-9 columns">
          <input type="text" ng-model="data.new.name"/>
        </div>
      </div>
      <div class="row collapse">
        <div class="small-6 columns">
          <div class="row collapse">
            <div class="small-3 columns">
              <span class="prefix radius">Date</span>
            </div>
            <div class="small-9 columns">
              <input type="date" ng-model="data.new.date"/>
            </div>
          </div>
        </div>
        <div class="small-5 small-offset-1 columns">
          <div class="row collapse">
            <div class="small-3 columns">
              <span class="prefix radius">Time</span>
            </div>
            <div class="small-9 columns">
              <input type="text" ng-model="data.new.time"/>
            </div>
          </div>
        </div>
      </div>
      <div class="row collapse">
        <div class="small-3 columns">
          <span class="prefix radius">Description</span>
        </div>
        <div class="small-9 columns">
          <input type="text" ng-model="data.new.type"/>
        </div>
      </div>
      <div class="row collapse">
        <div class="small-3 columns">
          <span class="prefix radius">Location</span>
        </div>
        <div class="small-9 columns">
          <input type="text" ng-model="data.new.location"/>
        </div>
      </div>
      <div class="row collapse">
        <div class="small-3 columns">
          <span class="prefix radius">Note</span>
        </div>
        <div class="small-9 columns">
          <input type="text" ng-model="data.new.note"/>
        </div>
      </div>
      <div class="row collapse">
        <div class="small-2 small-offset-10 columns">
          <a class="button" ng-click="saveReminder('new')" href="">Save</a>
        </div>
      </div>
    </div>
  </div>

</div>