<ul class="actions toggle">
  <li ng-click="newReminder()"><i class="icon-plus"></i></li>
</ul>

<div ng-switch="data.overview.reminders.length">
  <div ng-switch-when="0">
    <div class="panel red">
      <p>You don't seem to have any reminders yet. You can add a new one <a class="inline-link" ng-click="newReminder()"
                                                                            href="">here</a>.</p>
    </div>
  </div>
  <div ng-switch-default="">
    <div class="panel red" ng-repeat="reminder in data.overview.reminders">

      <div class="row">
        <div class="small-10 columns">
          <h2>{{reminder.name}}</h2>
        </div>
        <div class="small-2 columns text-right">
          <span ng-click="editReminder(reminder)"><i class="icon-edit"></i></span>
          <span ng-click="removeReminder(reminder)"><i class="icon-remove"></i></span>
        </div>
      </div>
      <div class="sub-panel">
        <h3>Date & time</h3>
        <p>{{reminder.datetime  | date:'dd MMMM yyyy @ HH:mm'}}</p>

        <h3>Location</h3>
        <p>{{reminder.location}}</p>

        <h3>Note</h3>
        <p>{{reminder.note}}</p>
      </div>

    </div>
  </div>

</div>

