<header>
  <div ng-controller="HeaderCtrl" class="row">
    <div class="small-12 columns">
      <ul class="left">
        <li ng-switch on="data.general.username">
          <span ng-switch-when="null">Frontier - You, but only more productive.</span>
          <span ng-switch-default="">Hello, {{data.general.username}}!</span>
        </li>
      </ul>
      <ul class="right">
        <li>{{timer}}</li>
      </ul>
    </div>
  </div>
</header>

<div class="row">
  <div class="dashboard-full large-12 columns">

  </div>
</div>

<div class="row">

  <div class="dashboard-left large-6 columns">

    <div ng-controller="ApiCtrl">
      <div ng-include="'views/modules/template.html'"></div>
    </div>

    <div ng-controller="ScratchpadCtrl">
      <div ng-include="'views/modules/template.html'"></div>
    </div>

    <div ng-controller="GithubCtrl">
      <div ng-include="'views/modules/template.html'"></div>
    </div>

    <div ng-controller="LocalStorageCtrl">
      <div ng-include="'views/modules/template.html'"></div>
    </div>
  </div>

  <div class="dashboard-right large-6 columns">

    <div ng-controller="RemindersCtrl">
      <div ng-include="'views/modules/template.html'"></div>
    </div>

    <div ng-controller="InspirationCtrl">
      <div ng-include="'views/modules/template.html'"></div>
    </div>

    <div ng-controller="TodosCtrl">
      <div ng-include="'views/modules/template.html'"></div>
    </div>

  </div>

</div>

